/Example Project/Example.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Example Project/Example.xcodeproj/project.xcworkspace/xcuserdata/derekselander.xcuserdatad/UserInterfaceState.xcuserstate
/Example Project/Example.xcodeproj/project.xcworkspace/xcuserdata/derekselander.xcuserdatad/WorkspaceSettings.xcsettings
/Example Project/Example.xcodeproj/xcuserdata/derekselander.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Example Project/Example.xcodeproj/xcuserdata/derekselander.xcuserdatad/xcschemes/UIImageViewControllerPrivateAPIPOC.xcscheme
/Example Project/Example.xcodeproj/xcuserdata/derekselander.xcuserdatad/xcschemes/xcschememanagement.plist
